<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.alvin.app02mybatis.mapper.BlogMapper">
    <select id="selectBlog" resultType="org.alvin.app02mybatis.pojo.Blog">
        select * from Blog where id = #{id}
    </select>

    <insert id="insertBlog" parameterType="org.alvin.app02mybatis.pojo.Blog">
        insert into Blog (title, author_id) values (#{title}, #{authorId})
    </insert>
</mapper>
